name: Bump Version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to set (e.g., 1.2.3 or 1.2.3-beta.1), or major, minor, patch to increment accordingly'
        required: true
        default: 'patch'

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        name: Create GitHub App token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm i

      - name: Bump version
        run: |
          npm version ${{ github.event.inputs.version }}

      - name: Commit and push changes with GitHub App token along with tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git push https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/${{ github.repository }} --follow-tags
